from typing import List
from enum import Enum, auto

class PhysicalQuantities(Enum):
{%- for PhysicalQuantity in data['PhysicalQuantities'] %}
    {{ PhysicalQuantity.Name }} = auto(), # {{PhysicalQuantity.UnitDescription}} ({{PhysicalQuantity.Unit}})
{%- endfor %}

class FieldTypes(Enum):
{%- for fieldType in data['FieldTypes'] %}
    {{ fieldType.Name }} = auto(), # {{fieldType.Description}} ({{fieldType.EncodingDescription}})
{%- endfor %}

{% set manufacturer_codes = data['LookupEnumerations'] | selectattr('Name', 'equalto', 'MANUFACTURER_CODE') | first %}
ManufacturerCodes: List[str] = [
{%- for manufacturer in manufacturer_codes.EnumValues %}
    "{{ manufacturer.Name }}",
{%- endfor %}]

